table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid pink;
    width: 70px;
    height: 100px;
    text-align: center;
}

.celluleRose {
    background-color: pink;
}

.pion-selection {
    border: 3px solid deeppink;
    border-radius: 100%;
}